.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 500px;
  padding: 0 50px;
  background-color: var(--black);
}
.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.image {
  width: 568px;
  height: 330px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.title {
  font-size: 3rem;
  color: var(--white);
}
