.section {
  width: 100%;
}
.list {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
.item {
  width: calc(100% / 5);
  overflow: hidden;
  text-align: center;

  transition: transform 0.2s ease-out;
}
.item:hover {
  transform: scale(1.01);
}
.image {
  width: 100%;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.title {
  font-weight: 600;
  font-size: 16px;
  margin-top: 10px;
}
