* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
}
.app {
  width: 1170px;
  margin: 0 auto;
}
.container {
  display: flex;
  gap: 20px;
}
a {
  text-decoration: none;
  color: var(--black);
}
input,
button {
  border: none;
  background: none;
  outline: none;
  color: var(--white);
}
