* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
}
.app {
  width: 1170px;
  margin: 0 auto;
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.icon {
  width: 12px;
  height: 12px;
}
a {
  text-decoration: none;
  color: var(--dark-grey);
}
input,
button {
  border: none;
  background: none;
  outline: none;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
button {
  background: var(--light-red);
  width: 125px;
  height: 38px;
  color: var(--white);
  cursor: pointer;
}
button:hover {
  background: var(--dark-red);
}
section,
footer {
  border-top: 1px solid var(--light-gray);
}
