.header {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 5px;
  width: 300px;
  font-weight: 800;
}
.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
.user {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.form {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 30px;
  width: 300px;
  padding: 7px 10px;
  border: 1px solid var(--light-gray);
  /* background-color: var(--light-gray); */
}
.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.username {
  font-size: 12px;
}
.icon {
  width: 13px;
  height: 13px;
  stroke: var(--gray);
}
.input {
  flex-grow: 1;
}
.input input {
  width: 100%;
}
.bag {
  position: relative;
}
.account {
  display: flex;
  align-items: center;
  gap: 5px;
}
.account svg {
  width: 24px;
  height: 24px;
}

.icon-fav {
  stroke: var(--gray);
  fill: none;
}
.icon-fav:hover {
  stroke: var(--black);
}
.icon-bag {
  fill: var(--gray);
}
.icon-bag:hover {
  fill: var(--black);
}
.count {
  position: absolute;
  width: 14px;
  height: 14px;
  background: var(--light-red);
  color: var(--white);
  right: -2px;
  bottom: -2px;
  border-radius: 50%;
  font-size: 10px;
  text-align: center;
}
