.header {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
}
.logo {
  display: flex;
  align-items: flex-end;
  gap: 5px;
  width: 300px;
  font-weight: 800;
}
.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  cursor: pointer;
}
.user {
  display: flex;
  align-items: center;
  gap: 5px;
}
.form {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 30px;
  width: 300px;
  padding: 7px 10px;
  border: 1px solid var(--light-gray);
}
.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.username {
  font-size: 12px;
  color: var(--dark-grey);
}
.user:hover .username {
  color: var(--black);
}
.search {
  width: 13px;
  height: 13px;
  fill: var(--gray);
}
.input {
  flex-grow: 1;
}
.input input {
  width: 105%;
}

/* icons */
.cart {
  position: relative;
}
.account {
  display: flex;
  align-items: center;
  gap: 10px;
}
.account svg {
  width: 24px;
  height: 24px;
}
.icon-heart {
  fill: var(--gray);
}
.icon-heart:hover {
  fill: var(--black);
}
.icon-cart {
  fill: var(--gray);
}
.icon-cart:hover {
  fill: var(--black);
}
.count {
  position: absolute;
  width: 14px;
  height: 14px;
  background: var(--light-red);
  color: var(--white);
  right: -6px;
  bottom: -6px;
  border-radius: 50%;
  font-size: 10px;
  text-align: center;
}
/* for box */
.box {
  position: absolute;
  top: 120%;
  left: 0;
  z-index: 9;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: var(--white);
  border: 1px solid var(--light-gray);
}
.box::-webkit-scrollbar {
  display: none;
}
.item {
  color: var(--dark-grey);
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 13px;
}
.item:hover {
  color: var(--black);
}
.image {
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
