.poster {
  display: flex;
  align-items: center;
  flex-grow: 1;
  background-color: var(--black);
  padding-left: 50px;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 50%;
}
.intro {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--white);
}
.apple {
  width: 50px;
  height: 50px;
}
.title {
  font-size: 3rem;
  color: var(--white);
}
