.products {
  width: 100%;
  padding: 20px 0;
}
.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}
.product {
  overflow: hidden;
  width: calc(100% / 5 - 20px);

  transition: transform 0.2s ease-out;
}
.product:nth-child(5n) {
  width: calc(100% / 5);
}
.product:hover {
  transform: scale(1.01);
}
.image {
  width: 100%;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 250px);
}
.title {
  font-weight: 600;
  font-size: 16px;
}
.cat {
  font-weight: 500;
  font-size: 12px;
  color: var(--gray);
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 20px;
}
.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}
.prices {
  display: flex;
  align-items: center;
  gap: 5px;
}
.price {
  font-weight: 700;
  font-size: 16px;
  color: var(--light-red);
}
.oldPrice {
  font-weight: 500;
  font-size: 12px;
  text-decoration-line: line-through;
  color: var(--dark-grey);
}
.purchases {
  font-weight: 500;
  font-size: 10px;
  color: var(--dark-grey);
}
