.sidebar {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 450px;
  padding: 20px;
  border-top: 1px solid var(--light-gray);
  border-right: 1px solid var(--light-gray);
}
.title {
  font-weight: 600;
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.link {
  font-size: 14px;
  text-transform: capitalize;
}
.link:hover {
  color: var(--light-red);
}
.link.active {
  color: var(--red);
}
