.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 33, 35, 0.8);
  z-index: 98;
}
.modal {
  display: flex;
  width: 680px;
  height: 400px;
  position: fixed;
  top: calc(50% - 200px);
  left: calc(50% - 340px);
  z-index: 99;
  background-color: var(--white);
}
.image {
  width: 340px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.wrapper {
  width: 340px;
  height: 400px;
  padding: 24px;
}
.title {
  font-weight: 400;
  font-size: 15px;
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  margin-top: 24px;
}
.group input {
  width: 100%;
  padding: 12px 24px;
  background-color: var(--light-gray);
}
.submit {
  font-weight: 500;
  width: 100%;
}
.close {
  position: absolute;
  top: 14px;
  right: 14px;
  z-index: 9;
  cursor: pointer;
}
.close svg {
  width: 20px;
  height: 20px;
}
.close:hover svg {
  fill: var(--gray);
}
.link {
  font-size: 13px;
  color: var(--dark-grey);
  cursor: pointer;
  text-align: center;
}
.link:hover {
  color: var(--gray);
}
