:root {
  --white: #ffffff;
  --black: #000000;
  --dark-grey: #363738;
  --gray: #7d8184;
  --light-gray: #f5f5f5;
  --wine: #2b010e;
  --red: #400115;
  --light-red: #810229;
  --pink: #fabbce;
  --light-pink: #fcd1de;
  --blue: #0c548c;
}
