:root {
  --white: #ffffff;
  --black: #000000;
  --dark-grey: #363738;
  --gray: #7d8184;
  --light-gray: #f5f5f5;
  --light-red: #f02c6c;
  --dark-red: #ec044c;
  --pink: #fabbce;
  --light-pink: #fcd1de;
  --blue: #0c548c;
}
